<?xml version="1.0"?>
<launch>
  <arg name="nav" default="false" />
  <arg name="nav_mode" default="odom" />
  <arg name="map_file" default="" />

  <!-- Setup robot description and spawn into Gazebo sim -->
  <include file="$(find create_description)/launch/create_2.launch" />
  <node name="spawn_create2" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" />

  <!-- Bring up nav stack -->
  <group if="$(arg nav)">
    <include file="$(find create_navigation)/launch/navigation.launch">
      <arg name="nav_mode" value="$(arg nav_mode)" />
      <arg name="map_file" value="$(arg map_file)" />
    </include>
  </group>
</launch>
